<div class="container mt-5">
  <h3><i class="fas fa-film"></i> What movies do you want to bookmark?</h3>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: 'btn btn-warning mt-2' %>
  <% end %>
  <p><%= link_to 'Back', lists_path %></p>
</div>
